
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}
    
body {
    background-color: #f4f4f4; 
    font-family: 'Arial', sans-serif; 
    margin: 0; 
    
}

.tp4 {
    transition: transform 0.2s ease-in-out;
}
.tp4:hover{
    transform: scale(1.3);
    color: rgb(180, 233, 233);
}


header {
    text-align: center;
   
    color: white;
    padding: 20px 0;
}


nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}


.dev-section {
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    margin: 30px 0;
    padding: 20px;
    box-sizing: border-box;
    animation: shadowColorChange 10s infinite alternate;
}

@keyframes shadowColorChange {
    0% {
        box-shadow: 0 0 20px rgba(0, 128, 255, 0.5);
    }
    50% {
        box-shadow: 0 0 20px rgba(204, 255, 229, 0.5); 
    }
    100% {
        box-shadow: 0 0 20px rgba(0, 128, 255, 0.5);
    }
}

.dev-block {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px 0;
    border-radius: 10px;
    margin-top: 40px;
}

.portfolio-item {
    border: 3px solid #303030;
    background-color: #333333;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
}


@media screen and (max-width: 600px) {
    header {
        padding: 15px 0;
    }

    nav li {
        display: block;
        margin: 10px 0;
    }

    .dev-section {
        flex-direction: column;
    }
}

#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 
}


.landing-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%; 
    z-index: 1; 
    text-align: center;
    color: white; 
    margin-top: 250px;
    margin-bottom: 350px;
    background-color: #333;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 10px;
    animation: shadowColorChange 10s infinite alternate;
}

@keyframes shadowColorChange {
    0% {
        box-shadow: 0 0 20px rgba(0, 128, 255, 0.5);
    }
    50% {
        box-shadow: 0 0 20px rgba(204, 255, 229, 0.5); 
    }
    100% {
        box-shadow: 0 0 20px rgba(0, 128, 255, 0.5);
    }
}



nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color :rgb(31, 30, 32);
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    z-index: 2; 
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.content {
    padding-top: 50px; 
}

.landing-page {
    position: relative;
    z-index: 1;
    text-align: center;
    color: white;
    margin-top: 250px;
    margin-bottom: 350px;
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {

    padding-left: 15px ;
    padding-right: 15px;
    
  }
  .container {
    max-width: 500px;
    margin-right:  20px;
    padding: 10px;
    
  }


  .slider img {
    max-width: 100%;
    display: none;
    height: auto;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }



  img.active {
    display: block;
    justify-content:flex-start  ;
  }
  
  
  .cont-btn {
    width: 100%;
    height: auto;
    background-color:  rgb(31, 30, 32);
    display: flex;
    justify-content: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

}
  .btn-nav {
    font-size: 50px;
    margin: 0 15px;
    cursor: pointer;
}
.container2 {
    max-width: 300px;
    margin: 0 auto;
    margin-right: 20px; 
    padding: 10px;

}


.slider2 img {
    max-width: 100%;
    display: none;
    height: auto;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

img.active2 {
    display: block;
    justify-content: flex-start;
}

.cont-btn2 {
    width: 100%;
    height: auto;
    background-color: rgb(31, 30, 32);
    display: flex;
    justify-content: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.btn-nav2 {
    font-size: 50px;
    margin: 0 15px;
    cursor: pointer;
}


.container .slider img {
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out, border-radius 0.2s ease-in-out;
}

.container .slider img:hover {
    transform: scale(1.09); 
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.9)
}

.container2 .slider2 img {
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out, border-radius 0.2s ease-in-out;
}

.container2 .slider2 img:hover {
    transform: scale(1.09);
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.9)
}


.bloc1 {
background-color: rgb(31, 30, 32);
border-radius: 10px;
box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
display:flow-root;
margin-left: 550px;
margin-top: -337px;
padding-bottom: 85px;
margin-bottom: 40px;
}
.bloc2 {
    background-color: #1f1f1f;  
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
    display:flow-root;
    margin-right : 360px;
    margin-top: -445px;
    padding-bottom: 137px;
    margin-bottom: 40px;
}

.btn-nav.left,
.btn-nav2.left2,
.btn-nav3.left3,
.btn-nav4.left4 {
    color: #000000;
    transition: transform 0.3s ease;
}

.btn-nav.left:hover,
.btn-nav2.left2:hover,
.btn-nav3.left3:hover,
.btn-nav4.left4:hover {
    color: rgb(177, 177, 177);
}

.btn-nav.left:active,
.btn-nav2.left2:active,
.btn-nav3.left3:active,
.btn-nav4.left4:active {
    transform: scale(1.4);
}

.btn-nav.right,
.btn-nav2.right2,
.btn-nav3.right3,
.btn-nav4.right4 {
    color: #000000;
    transition: transform 0.3s ease;
}

.btn-nav.right:hover,
.btn-nav2.right2:hover,
.btn-nav3.right3:hover,
.btn-nav4.right4:hover {
    color: rgb(177, 177, 177);
}

.btn-nav.right:active,
.btn-nav2.right2:active,
.btn-nav3.right3:active,
.btn-nav4.right4:active {
    transform: scale(1.4);
}


.container3 {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
}

.slider3 img {
    max-width: 100%;
    display: none;
    height: auto;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

img.active3 {
    display: block;
    justify-content: flex-start;
}

.cont-btn3 {
    width: 100%;
    height: auto;
    background-color: rgb(31, 30, 32);
    display: flex;
    justify-content: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.btn-nav3 {
    font-size: 50px;
    margin: 0 15px;
    cursor: pointer;
}

.container3 .slider3 img {
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out, border-radius 0.2s ease-in-out;
}

.container3 .slider3 img:hover {
    transform: scale(1.09);
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
}

.container4 {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
}

.slider4 img {
    max-width: 100%;
    display: none;
    height: auto;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

img.active4 {
    display: block;
    justify-content: flex-start;
}

.cont-btn4 {
    width: 100%;
    height: auto;
    background-color: rgb(31, 30, 32);
    display: flex;
    justify-content: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.btn-nav4 {
    font-size: 50px;
    margin: 0 15px;
    cursor: pointer;
}

.container4 .slider4 img {
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out, border-radius 0.2s ease-in-out;
}

.container4 .slider4 img:hover {
    transform: scale(1.09);
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
}

.gal {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tp1 {
    margin: 40px;
    color: #aaaaaa;
    
}
.tp5 {
    margin: 40px; 
    color: #aaaaaa;
    text-align: center;
}

.tp6{
    color: aliceblue;
    text-align: left;
    margin-bottom: 20px;
    margin-right: 50px; 
    margin-left: 50px;
    padding: 50px;
    background-color: rgb(31, 30, 32);
    border-radius: 10px;
    box-shadow: #000000;
}   
    

.tp3 {
    color: aliceblue;
    text-align: left;
    margin-bottom: 20px;
    padding: 40px;
    background-color: rgb(31, 30, 32);
    border-radius: 10px;
    box-shadow: #000000;

}

.tp2 {
    color: aliceblue;
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgb(31, 30, 32);
    border-radius: 10px;
    animation: shadowColorChange 10s infinite alternate;
}

@keyframes shadowColorChange {
    0% {
        box-shadow: 0 0 20px rgba(0, 128, 255, 0.5);
    }
    50% {
        box-shadow: 0 0 20px rgba(204, 255, 229, 0.5); 
    }
    100% {
        box-shadow: 0 0 20px rgba(0, 128, 255, 0.5);
    }
}

.logo {
    display: flex;
    justify-content: center;
  }
  
  .logo img {
    width: 5%;
    height: auto;
    margin-right: 60px;
  }
  
  .logo{
    background-color: #1f1f1f;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px ;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .img1:hover{
    transform: scale(1.5);  
  }

  .img1 {
    transition: transform 0.2s ease-in-out;
  }
  .img1:active{
    transform: scale(0.95);  
  }

  .img1 {
    transition: transform 0.2s ease-in-out;
  }

  .blender,
  .ps,
  .vs,
  .adobe {
      display: none; 
  }

.tp71 {
    color: aliceblue;
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
    margin-right: 50px; 
    margin-left: 50px;
    background-color: rgb(31, 30, 32);
    border-radius: 10px;
    animation: shadowColorChange1 10s infinite alternate;
}

@keyframes shadowColorChange1 {
    0% {
        box-shadow: 0 0 20px rgba(212,124,28, 0.5);
    }
    50% {
        box-shadow: 0 0 20px rgba(53,87,143, 0.5); 
    }
    100% {
        box-shadow: 0 0 20px rgba(212,124,28, 0.5);
    }
}

.tp61{
    color: aliceblue;
    text-align: left;
    margin-bottom: 20px;
    margin-right: 50px; 
    margin-left: 50px;
    padding: 50px;
    background-color: rgb(31, 30, 32);
    border-radius: 10px;
    box-shadow: #000000;
    animation: shadowColorChange1 10s infinite alternate;
}

@keyframes shadowColorChange1 {
    0% {
        box-shadow: 0 0 20px rgba(212,124,28, 0.5);
    }
    50% {
        box-shadow: 0 0 20px rgba(53,87,143, 0.5); 
    }
    100% {
        box-shadow: 0 0 20px rgba(212,124,28, 0.5);
    }
}

.tp72 {
    color: aliceblue;
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
    margin-right: 50px; 
    margin-left: 50px;
    background-color: rgb(31, 30, 32);
    border-radius: 10px;
    animation: shadowColorChange2 10s infinite alternate;
}

@keyframes shadowColorChange2 {
    0% {
        box-shadow: 0 0 20px rgba( 19, 39, 86, 0.5);
    }
    50% {
        box-shadow: 0 0 20px rgba( 86, 169, 255, 0.5); 
    }
    100% {
        box-shadow: 0 0 20px rgba( 19, 39, 86, 0.5);;
    }
}

.tp62{
    color: aliceblue;
    text-align: left;
    margin-bottom: 20px;
    margin-right: 50px; 
    margin-left: 50px;
    padding: 50px;
    background-color: rgb(31, 30, 32);
    border-radius: 10px;
    box-shadow: #000000;
    animation: shadowColorChange2 10s infinite alternate;
}

@keyframes shadowColorChange2 {
    0% {
        box-shadow: 0 0 20px rgba( 19, 39, 86, 0.5);
    }
    50% {
        box-shadow: 0 0 20px rgba( 86, 169, 255, 0.5); 
    }
    100% {
        box-shadow: 0 0 20px rgba( 19, 39, 86, 0.5);;
    }
}

.tp73 {
    color: aliceblue;
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
    margin-right: 50px; 
    margin-left: 50px;
    background-color: rgb(31, 30, 32);
    border-radius: 10px;
    animation: shadowColorChange3 10s infinite alternate;
}

@keyframes shadowColorChange3 {
    0% {
        box-shadow: 0 0 20px rgba( 97,164,228, 0.5);
    }
    50% {
        box-shadow: 0 0 20px rgba( 61,120,191, 0.5); 
    }
    100% {
        box-shadow: 0 0 20px rgba( 97,164,228, 0.5);;
    }
}

.tp63{
    color: aliceblue;
    text-align: left;
    margin-bottom: 20px;
    margin-right: 50px; 
    margin-left: 50px;
    padding: 50px;
    background-color: rgb(31, 30, 32);
    border-radius: 10px;
    box-shadow: #000000;
    animation: shadowColorChange3 10s infinite alternate;
}

@keyframes shadowColorChange3 {
    0% {
        box-shadow: 0 0 20px rgba( 155,155,255, 0.5);
    }
    50% {
        box-shadow: 0 0 20px rgba( 61,120,191, 0.5); 
    }
    100% {
        box-shadow: 0 0 20px rgba( 155,155,255, 0.5);;
    }
}

.tp74 {
    color: aliceblue;
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
    margin-right: 50px; 
    margin-left: 50px;
    background-color: rgb(31, 30, 32);
    border-radius: 10px;
    animation: shadowColorChange4 10s infinite alternate;
}

@keyframes shadowColorChange4 {
    0% {
        box-shadow: 0 0 20px rgba( 97,164,228, 0.5);
    }
    50% {
        box-shadow: 0 0 20px rgba( 5,0,98, 0.5); 
    }
    100% {
        box-shadow: 0 0 20px rgba( 97,164,228, 0.5);;
    }
}

.tp64{
    color: aliceblue;
    text-align: left;
    margin-bottom: 20px;
    margin-right: 50px; 
    margin-left: 50px;
    padding: 50px;
    background-color: rgb(31, 30, 32);
    border-radius: 10px;
    box-shadow: #000000;
    animation: shadowColorChange4 10s infinite alternate;
}

@keyframes shadowColorChange4 {
    0% {
        box-shadow: 0 0 20px rgba( 155,155,255, 0.5);
    }
    50% {
        box-shadow: 0 0 20px rgba( 5,0,98, 0.5); 
    }
    100% {
        box-shadow: 0 0 20px rgba( 155,155,255, 0.5);;
    }
}